body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin-left: auto;  /* pushes the content to the right */
  margin-right: 120px;

  background-image: url('https://www.htmlhints.com/image/other/encryptDecrypt.jpeg'); /* Replace with your image URL or path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
}

textarea, input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
  